if token != ""
    div(class="col-sm-1 col-xs-height channel" )
        button(type="button" class="btn btn-default btn-lg" aria-label="Play" onclick="location.href='#{token}'")
            span(class="glyphicon glyphicon-play-circle" aria-hidden="true") #{title}