extends layout

block content

    script(type='text/javascript').
        $(document).ready(function() {
            $("div.channel").each(function(index) {
                var node = this;
                $.get( "/channel/" + $(this).attr("channel-id"), function( data ) {
                    $(node).html(data);
                });
            });
         });
        
    each ev in events
        if ev.type != "OTHER"
            div(class="row")
                div(class="col-sm-2 col-xs-height")= ev.date
                div(class="col-sm-2 col-xs-height")= ev.sport
                div(class="col-sm-6 col-xs-height")= ev.name
            div(class="row")
                div(class="col-sm-12")
                    each ch in ev.channels
                        div(class="col-sm-1 col-xs-height channel" channel-id="#{ch.name}")
 
                
            
